@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

$night-black: #00011a;
$eerie-black: #262626;
$ghost-white: #f7faff;
$columbia-blue: #bedfeb;
$megaman-blue: #48dbfb;
$sea-blue: #54a0ff;
$fiery-rose: #ff5471;
$star-yellow: #feca57;
